<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EllieAtWHL</title>
</head>
<body>
    <header>

        <!-- TODO: Change logog at top of page to just name-->
        <!-- TODO: Work out where I can incorporate full logo-->
        <img src="./images/logo.png" alt="EllieAtWHL" class="banner">

        <nav class="menu" id="myMenu">
            <span class="active">Home</span>
            <a href="./pages/aboutMe.html">About Me</a>
            <a href="./pages/aboutMe.html">Projects</a>
            <a href="./pages/aboutMe.html">Contact Me</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </nav>

    </header> 
    
    <br>
    <%- body %>
    <br>
    
    <footer>
        <div>
            <h4>Quick Links</h4>
            <ul>
                <li><a href="https://www.linkedin.com/in/elliematthewman/" target="_blank">Linkedin</a></li>
                <li><a href="https://medium.com/@eleanormatthewman" target="_blank">Medium</a></li>
                <li><a href="https://twitter.com/EllieAtWHL" target="_blank">Twitter</a></li>
                <li><a href="https://trailblazer.me/id/elliematthewman" target="_blank">Trailhead</a></li>
                <li><a href="https://ellie-at-whl-developer-edition.um4.force.com/portfolio/s/" target="_blank">Salesforce Portfolio</a></li>
            </ul>
        </div>
        <div class="copyright">
            <i>Copyright © Ellie Matthewman. All Rights Reserved.</i>
        </div>
    </footer>
</body>
</html>